    
body{
    background-color: #ffffff;
    width: 1114px;    
    height: 1612px;
    margin-top: 24px;
    margin-bottom: 292px;
    margin-left: 0;
    margin-right: 0;
    }
    div{
    padding-top: 140px;
    margin-left: 16px;
    }
    .block{
     width: 257px;
     height: 470px;        
     background-color: #ffffff;
     border: 1px solid lightskyblue;
     display:inline-block;
     margin-left: -3px;
     margin-right: 16px;
     margin-bottom: 16px;
    }
    .block1{
    width: 256px;
    height: 470px;
    background-color: #ffffff;
    border: 1px solid lightskyblue;
    display:inline-block; 
    margin-left: -3px;
    margin-right: 16px;
    margin-bottom: 16px;
    }
    .image{
    width: 227px;
    height: 224px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 11px;
    margin-bottom: 0px;
    }
    .image1{
    width: 226px;
    height: 224px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 11px;
    margin-bottom: 0px;
    }
    .name{
     display: block;
     position: absolute;       
     width: 227px;
     height: 74px;
     margin-top: 12px;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 0px;  
     font-family: 'Inter', sans-serif;
     font-style: normal;     
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;   
     color: #19191D;
     letter-spacing: 2.75%;
    }
    .name1{
        display: block;
        position: absolute;       
        width: 226px;
        height: 74px;
        margin-top: 12px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0px;  
        font-family: 'Inter', sans-serif;
        font-style: normal;     
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;   
        color: #19191D;
        letter-spacing: 2.75%;
    }
    .price{
     display: flex;
     align-items: center;
     position: absolute;       
     width: 227px;
     height: 36px;
     margin-top: 94px;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 0px;  
     padding-right: 0px;
     font-family: 'Inter', sans-serif;
     font-style: normal;     
     font-weight: bold;
     font-size: 24px;
     line-height: 150%;   
     color: rgba(0,0,0,0.87);
    }
    .price1{
     display: flex;
     align-items: center;
     position: absolute;       
     width: 226px;
     height: 36px;
     margin-top: 94px;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 0px;  
     padding-right: 0px;
     font-family: 'Inter', sans-serif;
     font-style: normal;     
     font-weight: bold;
     font-size: 24px;
     line-height: 150%;   
     color: rgba(0,0,0,0.87);
    }
    .additional{
     display: flex;
     align-items: center;
     position: absolute;       
     width: 227px;
     height: 41px;
     margin-top: 138px;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 0px;  
     padding-right: 0px;
     font-family: 'Inter', sans-serif;
     font-style: normal;     
     font-weight: normal;
     font-size: 14px;
     line-height: 20,02px;   
     color: #787885;
    }
    .additional1{
     display: flex;
     align-items: center;
     position: absolute;       
     width: 227px;
     height: 41px;
     margin-top: 138px;
     margin-left: 15px;
     margin-right: 15px;
     margin-bottom: 0px;  
     padding-right: 0px;
     font-family: 'Inter', sans-serif;
     font-style: normal;     
     font-weight: normal;
     font-size: 14px;
     line-height: 20,02px;   
     color: #787885;
    }
    .rating{
     display: inline-block;
     position: relative;
     top: 197px;
     left: 15px;
    }
    .string{
     display: inline-block;
     position: relative;       
     width: 29px;
     height: 22px;
     font-family: 'Roboto', sans-serif;
     font-style: normal;     
     font-weight: 500;
     font-size: 14px;
     line-height: 22px;   
     color: #5e6366;
     letter-spacing: 0.1px;  
    }
    .rating11{
     display: inline-block;
     position: absolute;       
     width: 29px;
     height: 22px;
     margin-top: 196px;
     margin-left: 25px;
     margin-right: 132px;
     margin-bottom: 0px;  
     font-family: 'Roboto', sans-serif;
     font-style: normal;     
     font-weight: 500;
     font-size: 14px;
     line-height: 22px;   
     color: #5e6366;
     letter-spacing: 0.1px;    
    }
    
